materials = (
    {
        # material ID, starting at 0
        ID = 0
        name = "Basalt"
        # smoothing length
        sml = 156237.50
        # no. interactions for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        density_floor = 10.
        eos = {
            type = 2
            # basic properties
            shear_modulus = 22.7e9
            bulk_modulus = 26.7e9
            # Tillotson EoS params
            @include "basalt.till.cfg"
            # plasticity params
            @include "basalt.plasticity.cfg"
            # Murnaghan EoS params (Melosh, 1989)
            n = 5.5
            rho_0 = 2.86e3
        };
    },
	
    {
        # material ID
        ID = 1
        name = "Ice"
        # smoothing length
        sml = 156237.50
        # no. interaction partner for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 1.0; beta = 2.0; };
        density_floor = 1.
        eos = {
            type = 2
            # basic properties
            shear_modulus = 2.8e9
            bulk_modulus = 9.47e9
            # Tillotson EoS parameters
            @include "ice.till.cfg"
            # plasticity params
            @include "ice.plasticity.cfg"
            # Murnaghan EoS parameters for 0 deg C ice (Melosh 1989)
#            bulk_modulus = 1.502e9
            n = 5.23
            rho_0 = 0.91e3
        };
    }
);

