materials = (
    {
        # material ID, starting at 0
        ID = 0
        name = "Sand"
        # smoothing length
        sml = 0.05098525013
        # no. interactions for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 0.8; beta = 1.0; };
        density_floor = 10.
        eos = {
            type = 1
            # basic properties
            shear_modulus = 2.0e8
            bulk_modulus = 1.0e9
            # Tillotson EoS params
            @include "sand.till.cfg"
            # plasticity params
            @include "sand.plasticity.cfg"
            # Murnaghan EoS params (Melosh, 1989)
            n = 4.0
            rho_0 = 2.20e3
            friction_angle = 0.523599
            cohesion = 0.0e0
        };
    }

);

