materials = (
    {
        # material ID, starting at 0
        ID = 0
        name = "Sand"
        # smoothing length
        sml = 0.03472931385
        # no. interactions for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 0.8; beta = 0.5; };
        density_floor = 10.
        eos = {
            type = 2
            # basic properties
            shear_modulus = 40.0e7
            bulk_modulus = 25.0e7
            # Tillotson EoS params
            @include "sand.till.cfg"
            # plasticity params
            @include "sand.plasticity.cfg"
            # Murnaghan EoS params (Melosh, 1989)
            n = 5.5
            rho_0 = 2.20e3
        };
    }

);

