materials = (
    {
        # material ID, starting at 0
        ID = 0
        name = "Sand"
        # smoothing length
        sml = 0.03268153559
        # no. interactions for variable sml
        interactions = 30
        artificial_viscosity = { alpha = 0.8; beta = 0.6; };
        density_floor = 12.
        eos = {
            type = 2
            # basic properties
            shear_modulus = 35.0e7
            bulk_modulus = 25.0e7
            # Tillotson EoS params
            @include "sand.till.cfg"
            # plasticity params
            @include "sand.plasticity.cfg"
            # Murnaghan EoS params (Melosh, 1989)
            n = 5.0
            rho_0 = 1.60e3
            friction_angle = 0.533599
            cohesion = 0.0e0
        };
    }

);

